body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #eceff1;
}

header{
    position: relative;
    float: left;
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 14pt;
    padding: 10px;
}

#content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

}

.window{
    position: relative;
    width: 30%;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #cfd8dc;
}

.window h1{
    display: block;
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
    margin: 0px;
    background: #000;
    color: #fff;
    font-size: 12pt;
    font-weight: normal;
}

.windowlabel{
    display: block;
    width: calc(100% - 10px);
    margin: 10px 0px 10px 10px;
    color: #78909c;
    font-size: 12pt;
}

.window input, .window select{
    margin: 10px;
    padding: 10px;
    font-size: 12pt;
    color: #546e7a;
    border: 1px solid #cfd8dc;
}

.window input{
    width: calc(100% - 42px);
}

.window select{
    width: calc(100% - 22px);
}


.window input:focus{
    background: #fffde7;
}

.windowerrorlabel{
    display: block;
    width: calc(100% - 42px);
    margin: 10px;
    padding: 10px;
    background: #ffcdd2;
    color: #c62828;
    border: 1px solid #c62828;
    font-size: 12pt;
}
.windowbutton, .windowprimarybutton{
    display: flex;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 12pt;
    cursor: pointer;
    justify-content: center;
}


.windowbuttons{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.windowelcomelabel{
    display: block;
    width: calc(100% - 42px);
    margin: 10px;
    padding: 10px;
    background: rgb(120, 246, 124);
    color: #41ad47;
    border: 1px solid #44ad49;
    font-size: 12pt;
}


.windowbutton{
    background: #b0bec5;
    border: 1px solid #90a4ae;
}

.windowprimarybutton{
    background: #43a047;
    border: 1px solid #2e7d32;
    flex-direction: column;
    width: 300px;
}
